.barra-leoni {
    background-color: #0F3B89 !important;
}
.letras-barra {
    color:white!important;
}
#titulo {
    color: white;
    font-size: 3rem;
    letter-spacing: 0.3em;
    font-weight: 900;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.bg-leoni {
    background-image: url("Images/leoniPasillos.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 100px;
    text-align: center;
    background-position: center center;
    position: relative;
}
.bg-leoni:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.6);
}
.redondea-leoni{
    border-radius:20px;
}