
@{
    ViewBag.Title = "UnAuthorizedOperation";
    //  Layout = "~/Views/Shared/_Layout.cshtml";
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UnAuthorizedOpertaion</title>
    <link rel="stylesheet" href="~/Content/errorOperation.css">
</head>

<body>
    <div>
        <div>
            <aside>
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4424790/Mirror.png" alt="404 Image" />
            </aside>
            <main>
                <h1>Lo Sentimos!</h1>
                <p>
                    No estas autorizado para entrar aqui! <em>. . . nos vemos!!!</em>
                </p>

            </main>
        </div>
    </div>
</body>
</html>
