
@{
    Layout = "~/Views/Shared/LayoutProduction.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>General</title>
</head>

<body>
    <div>
        <br />
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="text-center">
                        <h1>Holi</h1>
                    </div>
                </div>
            </div>
        </div>

    </div>
</body>
</html>
